.m-2 {
  margin: 2px;
}

.list-items-container { 
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	overflow-y: auto; 
}
@media (max-width: 480px) {
	.list-item-container {
		grid-template-columns: repeat(3, 1fr);
	}
}